@font-face{
    font-family: 'monserrat bold';
    src: url(../fonts/Montserrat-Bold.ttf)
}

@font-face{
    font-family: 'monserrat black';
    src: url(../fonts/Montserrat-Black.ttf);
}

@font-face{
    font-family: 'monserrat regular';
    src: url(../fonts/Montserrat-Regular.ttf);
}
